@import '/node_modules/bootstrap/scss/bootstrap.scss';
// @import '/node_modules/bootstrap-icons/font/bootstrap-icons.css';

$gap:15px;
$font:'Museo Cyrl',
sans-serif;
$them: #FFDD00;
$white: #FFF;


body {
    font-family: $font;
    background-color: #E5E5E5;
    max-width: 100vw;
    // overflow: hidden;
}

;

.btn-order {
    background: #FFDD00;
    padding: $gap 3*$gap;
    border-radius: 80px;

    &:hover {
        box-shadow: 0px 0px 15px #FFDD00;
    }
}



.scene-container {
    // overflow: hidden;
    max-width: 100vw;
    // position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

@media screen and(max-width:1200px) {
    .scene-container {
        display: none;
    }
}

#scene {
    position: absolute;


    left: 5%;
    top: 25%;

    &2 {
        position: absolute;
        left: 47%;
        top: 20%;
    }

    &3 {
        position: absolute;
        left: 87%;
        top: 24%;
    }

    &4 {
        position: absolute;

        left: 90%;
        top: 18%;
    }

    &5 {
        position: absolute;
        left: 25%;
        top: 45%;
    }

    &6 {
        position: absolute;
        left: 84%;
        top: 69%;
    }

}






.first-screen {
    position: relative;
    padding-bottom: 9*$gap;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;



    color: $white;

    .container {
        padding-top: 70px;
        padding-left: 50px;
        z-index: 1;
    }

    .navbar {
        // display: flex;s
        // flex-direction: column;
        // margin-left: 3*$gap;

        .logo {
            max-width: 181px;
            display: flex;
            flex-direction: column;
            align-items: center;


        }

        .logo-img {
            width: 181px;
            height: 48px;
        }

        .logo-text {
            max-width: 11*$gap;
            margin-top: 5px;
            color: $white;

            h4 {

                text-align: center;
                font-size: 12px;
                line-height: 13px;

            }
        }

    }

    ;

    .info {
        display: flex;
        flex-direction: column;

        a {
            color: $white;
            font-size: 16px;
            line-height: 19px;
            text-decoration: none;

            letter-spacing: 0.05em;
        }
    }

    .contacts {
        display: flex;
        align-items: center;

        .telephone {
            font-size: 16px;
            line-height: 19px;
            max-width: 190px;
            letter-spacing: 0.05em;
            margin-right: 2*$gap;

            img {
                margin-right: 5px;
            }
        }

        .adress {
            max-width: 14*$gap;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            line-height: 16px;

        }

        .modal-btn {
            padding: .5*$gap;

            font-size: 14px;
            line-height: 17px;

            letter-spacing: 0.05em;
            position: relative;

            .zip {
                display: inline-block;
                width: 100%;
                height: 7px;
                position: absolute;
                left: 0;
                top: 100%;
                opacity: 0;
                transition: ease 500ms;
            }

            &:hover .zip {

                opacity: 1;
            }

        }

    }

    .color-highlight {
        color: $them;
    }





    menu {
        color: $white;

        .navbar-collapse{
            align-items: flex-end;
            justify-content: end;
            .navbar-nav{
                justify-content: end;
            }
        }
        .nav-link.active {
            color: $them;
        }
    }

    .navbar-toggler {
        color: $white;
        background: $white;



    }

    .nav-item {
        display: flex;
        align-items: center;
        position: relative;

        .zip {
            display: inline-block;
            width: 100%;
            height: 7px;
            position: absolute;
            left: 0;
            top: 100%;
            opacity: 0;
            transition: ease 500ms;
        }

        &:hover .zip {

            opacity: 1;
        }


    }

    .title-container {
        .btn {
            color: #C78014;
        }

        .title {
            margin-top: 8*$gap;
            margin-bottom: $gap;

            font-size: 34px;
            line-height: 41px;

        }

        .title-info {
            display: flex;
            align-items: center;

            margin-bottom: $gap;

            .info-left {

                margin-right: $gap;

                span {

                    font-size: 78px;
                    line-height: 94px;
                }
            }

            h2 {
                font-size: 22px;
                line-height: 26px;
            }

            p {
                margin: 0;
                font-family: Panton;
                font-size: 16px;
                line-height: 19px;




                .UTP {
                    position: relative;

                    .zip {
                        display: inline-block;
                        width: 100%;
                        height: 7px;
                        position: absolute;
                        left: 0;
                        top: 100%;

                    }
                }


            }
        }
    }

    .advantage {
        margin-left: 140px;
        margin-top: 8*$gap;
        background: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 263px;
        height: 241px;
        box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.2);
        border-radius: 30px;

        .advantage_contain {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            width: 199px;
            height: 182px;

            padding: $gap;
            background: $white;
            box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.15);
            border-radius: 30px;

            img {
                margin-bottom: $gap;
            }

            .advantage_text {
                .text-large {
                    font-size: 50px;
                    line-height: 54px;

                }

                font-size: 28px;
                line-height: 32px;
                text-align: center;
                color: #FFCE1C;
            }
        }
    }


    .animation-line1 {
        display: block;
        background-color: #127CF8;
        width: 2px;
        height: 3*$gap;
        position: absolute;
        top: 106vh;
        left: calc(50vw - 2px);
        display: inline-block;
        animation-name: myAnimation;
        animation-duration: 9000ms;
        animation-delay: 1000ms;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }

    .animation-line2 {
        display: block;
        background-color: #127CF8;
        width: 2px;
        height: 4*$gap;
        position: absolute;
        top: 109vh;
        left: calc(52vw - 2px);
        display: inline-block;
        animation-name: myAnimation2;
        animation-duration: 9000ms;
        animation-delay: 1000ms;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }

    @keyframes myAnimation {
        10% {
            top: 106vh;
        }

        60% {
            top: 109vh;
        }
    }

    @keyframes myAnimation2 {
        10% {
            top: 109vh;
        }

        60% {
            top: 106vh;
        }
    }

}

;

%modal {

    box-shadow: 0px 0px 15px rgba(196, 196, 196, 0.3);
    border-radius: 10px;

    .modal-title {
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */

        letter-spacing: 0.05em;

        color: #000000;

    }

    .modal-content {
        background: #FFFFFF;
        padding: $gap $gap 3*$gap;

        .btn-close {
            align-self: flex-end;
        }

        .container {
            max-width: 408px;
            padding: $gap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }



    .modal-header {
        flex-direction: column;
        align-items: center;
        border: none;

    }

    .modal-body {


        a {
            padding: 0 1.7*$gap;
            display: inline-block;
            text-decoration: none;
            font-family: Panton;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            letter-spacing: 0.05em;
            color: #828282;
        }

    }

    .modal-footer {
        border: none
    }

    .form-control {
        border: none;
        border-bottom: #C4C4C4 1px solid;
        border-radius: 0;

        &:focus {

            border-bottom: #FFDD00 1px solid;
        }

        &:invalid:not(:placeholder-shown) {
            border-color: red;
        }

        &:valid:not(:placeholder-shown) {
            border-color: #FFDD00;
        }
    }

}

#exampleModal {
    @extend %modal;
}

#exampleModal2 {
    @extend %modal;
}

@media screen and (max-width:995px) {
    .first-screen {

        .animation-line2,
        .animation-line1 {
            width: 0px;

        }
    }
}

@media screen and (min-width:1500px) {
    .first-screen {
        background-size: cover;
        height: 70vw;

    }

}

.screen-title {
    position: relative;

    h3 {
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #3B484A;
        z-index: 3;
    }

    img {
        position: absolute;

    }
}

.second-screen {
    background-repeat: no-repeat;
    background-size: cover;
    .screen-title {
        margin-bottom: 4*$gap;
    }

    .screen-body {







        .menu-bar {
            display: flex;
          
            justify-content: space-between;
            margin-bottom: 1.5*$gap;
            border-bottom: none;
            // .container-firstline{
            //     display: flex;
            //     justify-content:space-around ;

            // }
            // .container-seondline{

            // }

            
            .tab-item {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 2*$gap;
                margin-bottom: $gap;
                height: 50px;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.05em;
                color: #3B484A;
                background: $white;
                border-radius: 80px;

                p {
                    margin: 0 0 0 .5*$gap;
                }
            }
        }


        .tab-content{
            position: relative;
            .arrowLeft{
                position: absolute;
                top: 45%;
                left: -2%;
                z-index: 1;
            }
            .arrowRight{
                position: absolute;
                top: 45%;
                right: -2%;
                z-index: 1;
               
            }
        }
        .tab-pane.active{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
       
        .card {
            background: #FFFFFF;
            box-shadow: 0px 0px 15px rgba(196, 196, 196, 0.3);
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2*$gap 3*$gap;
            margin-bottom: 2*$gap;
            &:hover {
                .card-img-top {
                    opacity: 0.2;
                }

                .alternative-img {

                    opacity: 1;
                }

                .card-body {
                    .more-info {
                        opacity: 1;
                        transition: 3000 ease;
                    }
                }

            }

            .card-img-top {
                width: 170px;
                opacity: 1;
            }

            .alternative-img {
                position: absolute;
                top: 23%;
                opacity: 0;
            }

            .card-body {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .card-title {
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.05em;
                    margin-bottom: $gap;
                    color: #000;
                }

                .card-text {
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 0.05em;

                    color: #3B484A;
                    text-align: center;
                }

                .more-info {
                    display: inline-block;
                    transition: 3000 ease;
                    opacity: 0;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.05em;
                    color: #9C9C9C;
                    margin-bottom: $gap;

                }

                .price {
                    font-size: 22px;
                    line-height: 26px;
                    letter-spacing: 0.05em;
                    color: #181818;
                    margin-bottom: 1.5*$gap;
                    padding: 0 5px 0;
                    position: relative;
                    z-index: 2;
                    font-weight: bold;

                    ::after {
                        content: "";
                        display: inline-block;
                        width: 100%;
                        height: 21px;
                        background: #FEF2C9;
                        position: absolute;
                        top: 1.3*$gap;
                        left: 0;
                        z-index: -1;
                    }

                    span {
                        font-family: 'Roboto Condensed', sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 30px;
                        line-height: 35px;
                    }

                }

            }

            .interactive {
                display: flex;
                justify-content: space-between;


                .iny-img {
                    position: relative;
                    margin-right: .5*$gap;
                }
                %after{
                    background: #FFFFFF;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
                    border-radius: 10px;
                    width: 119.4px;
                    height: 46.37px;
                    display: inline-block;
                    position: absolute;
                   
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 0.05em;
                    color: #000000;
                    z-index: 2;
                }
                .intDrow:hover::after {
                    @extend %after;
                    content: 'Искусство';
                    top: -25px;
                    left: 39px;

                }
                .intDance:hover::after {
                    @extend %after;
                    content: 'Искусство';
                    top: -25px;
                    left: 39px;
                }
                .intTouch:hover::after {
                    @extend %after;
                    content: 'Искусство';
                    top: -25px;
                    left: 39px;
                }
               

            }

            .btn-card {
                position: absolute;
                top: 94%;
                background: #FFDD00;

                border-radius: 80px;
                padding: $gap 3*$gap;
                font-family: Panton;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.05em;
                // font-weight: bold;
                color: #C78014;

            }
        }

    }


}
.modal-moreinfo{
    padding: $gap;
    .modal-header{
        display: flex;
        flex-direction: column;
        border:none;
    }
    .modal-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: $gap 2*$gap 2*$gap;
        .modal-text{
            margin: 2*$gap 0;
        }

        .size{
            margin-bottom: $gap;;
        }
        .interactive{
            display: flex;
            .iny-img{
                padding-right: $gap;
            }
        }
    }
    

}

// адаптив

@media screen and (max-width:1400px){
    .arrowRight{
        display: none;

    }
    .arrowLeft{
        display: none;
    }
}
@media screen and (max-width:992px){
    .second-screen .screen-body .menu-bar{
        justify-content: space-around;
    }
    .first-screen .advantage{
        margin-left: 90px;
        margin-top: 70px;
        width: calc(263px * .8);
        height: calc(241px * .8);
        .advantage_contain{

        }
    }

    .first-screen .container{
        padding: 70px 0 0 0;
    }

    .first-screen .title-container .title{
        margin-top: 70px;
    }
}

@media screen and (max-width:768px){
    .second-screen .screen-body .tab-pane.active{
      
        justify-content: center;
       
    } 
   
    .first-screen .info a {
        margin-bottom: 2*$gap;
    }
    .first-screen .contacts > div{
        margin-bottom: 2*$gap;
    }

}
@media screen and (max-width:576px){
    .screen-title h3{
        font-size: 18px;
    }

    .first-screen .advantage{
        margin-left: 10px;
        margin-top: 3*$gap;
        width: calc(263px * .8);
        height: calc(241px * .8);
        .advantage_contain{

        }
    }
    .first-screen .container{
        margin: $gap ;
    }
}